[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
geopy = "*"
requests = "*"
flask = "*"
line-bot-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python main.py"

[pipenv]
allow_prereleases = true
